<%- include('includes/header') %>

<body>
    Hello Admin!! This is Your page!!

    <% members_data.map(function(value, key) { %>
        <% if(members_data.mb_type === 'USER') { %>
            <h1><%= value.mb_nick %>, <h4><%= value.mb_type %></h4></h1>
        <% } else { %>
            <h1><%= value.mb_nick %>, <h4><%= value.mb_type %></h4></h1>
        <% } %>
    <% }); %>
</body>

<%- include('includes/footer') %>